@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

.home__body {
    font-family: "Poppins", sans-serif;
    background-image: url("src/2151075872.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.home__header {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.home__header__titulo {
    font-size: 2rem;
    color: #ffffff;
    padding-right: 1.5rem;
}

.intro {
    height: 100%;
    width: 35vw;
    background-color: #0000007e;
    border-radius: 0 20px 20px 0;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 2%;
    z-index: 10;
    animation: fadeInRight 1s ease forwards;
}

.home__main {
    display: flex;
    justify-content: start;
    flex: 1;
    overflow: auto;
}

.intro h3 {
    color: #00d9ff;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
    animation: fadeInRight 1200ms ease forwards;
}

.intro h2 {
    font-size: 7rem;
    line-height: 7.5rem;
    margin: 0;
    color: #ffffff;
    animation: fadeInRight 1200ms ease forwards;
}

.intro button {
    width: 140px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(90deg, #005fcc, #00d9ff);
    margin-top: 3rem;
    padding: 10px 15px;
    animation: fadeInRight 1200ms ease forwards;
    border: 0;
}

.intro p {
    margin: 0;
}

.ocultar_animacao {
    animation: fadeOutRight 550ms ease;
}

.ocultar {
    display: none;
}

.planetas_sec {
    display: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.exibir {
    display: block;
    animation: fadeIn 850ms ease-in;
}

.busca_container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busca_container_descricao {
    width: 40%;
    text-align: center;
}

.busca_container_descricao h3 {
    color: #00d9ff;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
}

.busca_planetas {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.busca_planetas button {
    width: 100px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(90deg, #005fcc, #00d9ff);
    padding: 12px 12px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    border: 0;
}

.busca_planetas input {
    width: 300px;
    border-radius: 6px;
    padding: 12px 12px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 0;
}

.busca_planetas input:focus {
    outline: none;
}

.resultados_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0.5rem 5rem;
}

.resultado_planeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27rem;
    padding: 0.5rem;
    padding-top: 2.2rem;
    background-color: #00000056;
    border: 2px solid #353535;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    animation: fadeIn 8ms ease-in;
}

.planeta_nome {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 2px;
    width: 120px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #005fcc;
    border-radius: 0px 0px 12px 0px;
}

.resultado_planeta img {
    position: absolute;
    width: 22rem;
    top: -1.5rem;
    right: -11.4rem;
    user-select: none;
}

.planeta_infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
    width: 80%;
}

.planeta_infos a {
    text-align: left;
    font-weight: 600;
    text-decoration: none;
    color: #4be4ff;
    font-size: 0.8rem;
    align-self: flex-start;
}

.planeta_infos a:hover {
    text-decoration: underline;
}

.infos_linha {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 0.4rem;
    z-index: 2;
}

.info_cel {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.3rem;
}

.info_cel .titulo {
    color: #ffffff;
    font-size: 0.8rem;
    margin: 0;
}

.info_cel .info {
    color: #dadada;
    font-size: 0.7rem;
    margin: 0;
}

.resultados-pesquisa {
    width: 60rem;
    height: 46vh;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
}

.item-resultado {
    background: #FFFFFF;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-resultado h2 {
    font-size: 1.5rem;
    color: #222831;
}

.item-resultado a {
    text-decoration: none;
    color: #30475E;
}

.item-resultado a:hover {
    text-decoration: underline;
}

.descricao-meta {
    color: #45474B;
    margin: 0.5rem 0;
}

.home__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    width: 100%;
    font-size: 0.75rem;
    overflow: hidden;
}

.home__footer a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.home__footer p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.home__footer p:first-child {
    z-index: 11;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;

        letter-spacing: 0.2rem;

    }

    section input {
        width: 25rem;

        padding: 0.8rem;

    }

    .resultados-pesquisa {
        width: 40rem;

        height: 40vh;

    }

    .item-resultado h2 {
        font-size: 1.3rem;

    }
}

@media (max-width: 480px) {
    .home__main {
        justify-content: center;
        overflow-x: hidden;
    }

    header {
        z-index: 12;
    }

    .intro {
        width: 100vw;
        padding-left: 8%;

    }

    .intro h2 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .intro h3 {
        color: #00d9ff;
        font-size: 0.7rem;
        padding-right: 48%;
    }

    footer {
        z-index: 10;
    }

    .planetas_sec {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .busca_container_descricao {
        width: 60%;
        text-align: center;
    }

    .busca_container_descricao h3 {
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        padding-bottom: 4px;
    }

    .busca_container_descricao p {
        font-size: 0.8rem;
    }

    .busca_planetas input {
        width: 190px;
    }

    .busca_planetas button {
        width: 90px;
    }

    .resultados_container {
        gap: 1rem;
    }

    .resultado_planeta {
        width: 80vw;
    }

    .planeta_nome {
        width: 100px;
        text-align: center;
        font-size: 0.8rem;
    }

    .resultado_planeta img {
        position: absolute;
        width: 20rem;
        top: -1rem;
        right: -12rem;
        user-select: none;
    }
}